* {
	font-family: 'Asap', sans-serif;
}

a {
	text-decoration: none;
}

/* navigation styling */
nav {
	background-color: #036dab;
	color: white;
	font-family: 'Roboto', sans-serif;
}
nav a {
	color: white;
}
nav img {
	margin-right: 0px;
}
nav ul {
	margin-left: 15%;
}
nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}
.blob {
	border-radius: 100px;
	background-color: #ff7f01;
	color: #ff7f01;
	text-align: center;
	margin: auto;
	margin-top: -25px;
	width: 20px;
}
.shift {
	margin-left: 40px;
}
.onlineNow {
	background-color: #213bb8;
}
.onlineNow.img {
	float: left;
	clear left;
}

.heart {
	font-size: 60%;
	vertical-align: top;
}
#power {
	color: #2ab82a;
	background-color: white;
	border: inset 2px white;
	border-radius: 6px;
	font-style: bold;
	padding: 2px 8px;
}
#power:hover {
	color: white;
	border: 2px solid white;
	background-color: #2ab82a;
	
}
/* end of navigation styling */

h2 {
	margin-left: 10%;
}
main {
	padding: 2px;
	min-height: 300px;
}

.matches {
	margin: 2% 15%;
}
.match {
	display: inline-block;
	border: 1px solid green;
	padding-bottom: 0px;
	margin-right: 20px;
	margin-bottom: 15px;
	width: 200px;
	height: 175px;
}
.match p {
	color: #474545;
}
.topProfile {
	background-color: white;
	padding: 10px;
}
.topProfile img {
	float: left;
	margin-right: 3px;
}

.remove {
	float: right;
	color: #c9c5c5;
	font-size: 110%;
	background-color: transparent;
	border: none;
}
.bottomProfile {
	background-color: #c9c5c5;
	padding: 10px;
	width: 180px;
	position: relative;
	bottom: 0px;	
}
.save {
	background-color: #213bb8;
	color: white;
	text-transform: capitalize;
	border-radius: 15px;
	float: right;
}
.search {
	float: left;
}

/* online petfinder styling */
.online {
	z-index: 99;
	position: absolute;
	margin-left: 80%;
	margin-right: 0px;
	margin-top: -15px;
	list-style: none;
}
.onlineCat {
	padding: 5px;
	border: 1px solid #c9c5c5;
	width: 320px;
	color: #474545;
	box-shadow: -2px 2px 2px #c9c5c5;
}
/* end of online petfinder styling */

/* footer styling */
footer {
	padding: 2%;
	color: #2a2d2d;
	font-size: 60%;
	background-color: #f2efef;
	position:absolute;
	padding-bottom: 5px;
	width: 100%;
	line-height: .8;
}
footer a {
	color: #2a2d2d;
	font-size: 60%;
}
footer div {
	margin-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border-right: 1px solid #9fa3a3;
	bottom: 0px;
}
.github {
	border-right: 0;
}