<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cat&hearts;match</title>
    <link type="text/css" rel="stylesheet" href="css/styles.css" />
    <link type="text/css" rel="stylesheet" href="css/adStyling.css" />
    <link href="https://fonts.googleapis.com/css?family=Asap|Roboto" rel="stylesheet">
  </head>
  <body ng-app="myApp">
    <nav>
      <ul>
        <li><h1>cat<span class="heart">&hearts;</span>match</h1></li>
        <li class="shift"><button id="power">PET US</button></li>
        <li class="shift"><a href="#/matches">Matches</a></li>
        <li><a href="#/connections">Connections</a></li>
        <li><a href="#/messages">Messages</a></li>
        <li>Events</li>
        <li class="onlineNow"><img src="images/chat.png"></li>
        <li class="onlineNow"><h1><span class="heart">Online Now</span></h1></li>
      </ul>
     
    </nav>

      <!-- search options -->
    <h2>Search: <input ng-model="query" type="text" /></h2>
    <label for="multipleSort"><h2>Sort by: </label>
    <select name="multipleSort" id="multipleSort" ng-model="sortField" multiple>
      <option value="age" >Youngest to oldest</option> 
      <option value="-age">Oldest to youngest</option> 
      <option value="breed">Breed</option>
      <option value="name">Name</option>
    </select>
  </h2>
    <!-- banner ad -->
    <div class="banner">
      <div class="side sLeft">YOU'RE<br>INVITED</div>
      <div class="arrow"></div>
      <div><span class="adCat">Game Night Featuring Cats Against Humanity</span><br>Everyday | Game Night @ Purrfinn Furbles<button class="blueButton">VIEW ALL EVENTS</button></div>
      <div class="arrow"></div>
      <div class="side sRight"><span class="adCat">cat<span>&hearts;</span>match</span><br>furrevents
        <button>x</button></div>
    </div>

    <!-- link to pets that need homes -->
    <ul class="online">
    </ul>
    <ul class="online2">
    </ul>



  <main>
    <ng-view></ng-view>
  </main>
    <footer>
      <div>
        <h3>Powered by</h3>
        <p><a href="www.petfinder.com">Petfinder.com</a></p>
        <p>Home of a lot of adoptable pets</p>
        <p>from a lot of adoption groups</p>
      </div>
      <div>
        <h3>Safety tips for cat owners</h3>
        <p><a href="https://www.petfinder.com/cats/cat-care/heat-wave-safety-cat/">Keep your cat safe in a heat wave</a></p>
        <p><a href="http://www.humanesociety.org/animals/cats/tips/collars.html?referrer=https://www.google.com/">Identification tags</a></p>
        <p><a href="http://www.birdsbesafe.com/">Birdsbesafe</a></p>
      </div>  
      <div>
        <h3>Links for cat lovers</h3>
        <p><a href="adultcatfinder.com">Adult Cat Finder</a></p>
        <p><a href="https://www.grumpycats.com/">Grumpy Cat</a></p>
        <p><a href="http://www.adventurecats.org/">Adventure Cats</a></p>
      </div>
      <div class="github">
        <a href="https://github.com/krenabeth/catmatch"><img src="images/githubhearts.png" alt="github cat icon with heart eyes" width="50" height="50"></a>
      </div>
      <h3>&copy; Copyright 2016 cat&hearts;match</h3>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <script src="js/app.js"></script>
    <script src="js/herdingcats.js"></script>
    <script src="js/catcontroller.js"></script>
    <script src="js/quickcontroller.js"></script>
    <script src="js/petcontroller.js"></script>
  </body>
</html>